body{
    overflow: hidden;
    font-size:17px;
    font-family: "mimosFont";
    background-image: url("./images/background.png");
    background-color: black;
    background-size: cover cover;
}

.red {
  display: inline;
  color: red;
}
.green {
  display: inline;
  color: green;
}
.blue {
  display: inline;
  color: blue;
}
.yellow {
  display: inline;
  color: yellow;
}
.purple {
  display: inline;
  color: purple;
}

.small {
  font-size: small;
  color: lightgreen;
}

@font-face {
  font-family: "mimosFont";
  src: local("AlbertText-Bold"),
    url("./fonts/AlbertText-Bold.ttf") format("truetype");
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes slidein1 {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slidein2 {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.payPal {
  opacity: 0;
  animation: fadein 1s ease-in alternate;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.secondTitle {
  opacity: 0;
  animation: fadein 0.35s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}

.fadey {
  opacity: 0;
  animation: fadein 1s ease-in alternate, fadeout .25s;
  animation-delay: 0s, .85s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 900px) {
  .fadey {
    font-size:42px;
  }
  .secondTitle {
    font-size:42px;
  }

  @keyframes fadeinSlam {
    from {
      opacity: 0;
      transform: scale(1);
    }
    to {
      opacity: 1;
      transform: scale(0.4);
    }
  }
  .construct {
    transform: scale(1);
    position: absolute;
    top: 21%;
    left: 12%;
    opacity: 0;
    animation: fadeinSlam 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
}
@media screen and (min-width: 900px) {
  .fadey {
    font-size:72px;
  }
  .secondTitle {
    font-size:72px;
  }
  @keyframes fadeinSlam {
    from {
      opacity: 0;
      transform: scale(1.5);
    }
    to {
      opacity: 1;
      transform: scale(0.6);
    }
  }

  .construct {
    transform: scale(1.5);
    position: absolute;
    top: 25%;
    left: 42%;
    opacity: 0;
    animation: fadeinSlam 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
}

.slide1 {
  transform: translateX(-1000px);
  opacity: 1;
  animation: slidein1 0.5s ease-in alternate;
  animation-delay: 0.35s;
  animation-fill-mode: forwards;
}
.slide2 {
  transform: translateX(1000px);
  opacity: 1;
  animation: slidein2 0.5s ease-in alternate;
  animation-delay: 0.35s;
  animation-fill-mode: forwards;
}



.mainButtons {
  position: absolute;
  top: 42%;
}